body {
  background: #efefef;
  color: black
  ;
  margin: 0;
}

*{
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
  box-sizing: border-box
}
a {  
  text-decoration: none;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.topNavBar {
  padding: 20px 0px 20px 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  color: #b7b7b7;
  transition: all 0.5s;

}
.topNavBar.sticky{
  background: rgba(255, 255, 255, 0.8);  /*rgba(217,224,230,0.8)*/
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  color: #3d4451;
  border-radius: 0 0 8px 8px

}
.topNavBar .inner{
  padding: 0 16px;
}

.topNavBar  nav {
  padding-top: 5px;
}
.topNavBar  nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topNavBar  nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  position: relative;
}
.topNavBar  nav > ul > li > a {
  font-size: 12px;
  color: inherit;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  position: relative;
}
.topNavBar  nav > ul > li.active > a::after,
.topNavBar  nav > ul > li.highlight > a::after{
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  left: 0%;
  width:100%;
  height: 3px;
  background: #e06567;
  animation: moveRight 0.7s;
}
@keyframes moveRight{
  0%{width:0;}
  100%{width:100%}
}
[data-x].offset{
  transform: translateY(200px)
}
[data-x]{
  transform: translateY(0);
  transition: all 0.5s;
}

.topNavBar .submenu{
  display: none;
  position: absolute;
  margin-top: 2px;
  top:100%;
  right: 0;
  background-color:white;
  color: #3d4451;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.topNavBar li.active .submenu{
  display: block;
  animation: submenumove 0.2s;
}
@keyframes submenumove{
  0%{margin-right: 100%}
  100%{margin-right: 0%}
}
.topNavBar .submenu li{
  white-space: nowrap;
  padding: 5px 10px;
}


.topNavBar .logo {
  font-size: 24px;
  font-family: 'Arial Black';
  padding-top: 3px;
  padding-bottom: 4px;
}
.topNavBar .logo .rs {
  margin-right: 4px;
  color: #e6686a;
}
.topNavBar .logo .card {
  color: #9a9da2;
}
.banner {
      height: 515px;
      background-image: url(./img/rs-cover.jpg);
      background-position: center center;
      background-size: cover;
}
.banner .mask{
  height: 515px;
  background-color: rgba(0,0,0,0.7);
}
.usercard{
  max-width: 940px;
  margin: 0 auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  
}  
body main{
  margin-top:-340px
}
.usercard .welcome{
  background-color: #e6686a;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}
.usercard .welcome .triangle{
  display: block;
    width: 0;
    height: 0;
    border-top: 10px solid #e6686a;
    border-right: 10px solid transparent;
    position: absolute;
    left: 4px;
    top: 100%;
  }
  .usercard .picture{
    float: left;
  }
  .usercard .text{
    float: left;
    margin-left: 65px;
    width: 470px;
  }
  .usercard .pictureAndText{
    padding: 50px;
    background-color: white;
  }
  h1{
    margin-top: 18px;
  }
 
  hr{
    margin: 20px 0;
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
  }
  .usercard dl dt {
    float: left;
    margin: 4.5px 0;
  }
  .usercard dl dd {
    float: right;
    margin: 5px 0;

  }
  .usercard dl dt{
    width: 30%;
    font-weight: bold;
  }
  .usercard dl dd{
    width: 70%;
    color: #9da0a7;

  }
  .usercard .media{
    background-color: #e6686a;
    text-align: center;
    
  }
  .usercard .media >a{
    
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
    vertical-align: top;

  }
  .usercard .media >a:hover{
    background: #cf505f;
  }
  .usercard svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;

  }
  body>main .dowenland{
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    border: 1px solid #cdcfd1;
    margin: 32px 0;
    color: #3d4451;
    font-weight: bold;
    border-radius: 2px;
    transition: box-shadow 0.3s;
  }
  .downloadA{
    text-align: center;
  }
  body>main .dowenland:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.3);

  }
  .introduce{
    text-align: center;
    font-family: fkaiti;
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    margin: auto auto;
    
  }
  .skills{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px
  
  }
  .skills h2,
  .protfolio h2,
  .message h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;

  }
  .skills ol{
    background-color: white;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.3);
    padding: 42px 50px 10px;
    margin-top: 30px  

  }
  .skills ol li {
    float: left;
    width: 48%;
    box-sizing: border-box;
    padding-left: 0px;
    

  }
  .skills ol li:nth-child(even){
    float: right;
  }
  .skills ol li .progress{
    height: 5px;
    background-color: #fae1e1;
    border-radius:2px;
    margin: 4px 0 40px;
    overflow: hidden;   /*溢出隐藏*/
  }
  .skills ol li .progress .progress-inner{
    height: 100%;
    width: 70%;
    border-radius:2px;
    background-color: #e6686a;
    transform: translateX(0);
    transition: all 1s;
  }
  .skills.offset .progress .progress-inner{
    transform: translateX(-100%)
  }

  .protfolio {
    text-align: center;
    max-width: 940px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .protfolio h2{margin-bottom: 30px}
  
  .protfolio  .swiper-container {
    width: 800px;
    height: 600px; 
    cursor: pointer;
  }
  .protfolio .swiper-button-prev{
    background-color: white;
    width: 50px;
    height: 50px;
    right: 100%;
    left: auto;
    margin-top: 20px;
    border-radius: 50%;
    outline:none;
  }
  .protfolio .swiper-button-next{
    background-color: white;
    width: 50px;
    height: 50px;
    left: 100%;
    right: auto;
    margin-top: 20px;
    border-radius: 50%;
    outline:none;
  }

  .protfolio nav {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
    margin-bottom: 32px
  }
  section .protfolio nav ol{
    max-width: 940px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000;
  }
  section.protfolio nav ol li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
  }
  section.protfolio nav ol li:nth-child(1){
    margin-left: 0
  }
  section.protfolio nav .bar{
    height: 5px;
    background-color: white;
    border-radius: 2px;
  }
  section.protfolio nav .bar .bar-inner{
    height: 100%;
    background-color: #e6686a;
    border-radius: 2px;
    margin-top: 5px;
    transition: all 0.3s
  }

  section .works{
      position: relative;
  }
  section .works>div{
      position: absolute;
      margin-bottom: 50px;
  } 
  section .works .big{
    top: 0%;
    left: px;
  }
  section .works .small1{
    top: 0%;
    left: 645px;
  }
  section .works .small2{
    top: 312px;
    left:645px;
  }



  .message{
    max-width: 800px;
    margin: 70px auto;
  }
  .message ol {
    background-color: #f4f4f4;
    margin-top: 30px;
    /*box-shadow: 0 0 1px darkgray;*/

  }
  .message ol>li{
    padding: 16px;
    border-bottom: 1px solid #ddd;
  }
  .message .sorry{
    display: none;  
  }

  .message form{
    margin: 30px 10px;
  }
  .message input,label{
    font-size: 18px;
  }
  .message .text{
    padding: 3px 0;
    padding-left: 4px;
    box-sizing: border-box;
  }

  .message .submit{
    line-height: 24px;
    background-color: #fff;
    border: 1px solid #000;
    transition: all 0.2s;
    padding: 2px 5px;
    border-radius: 2px;
  }
  .message .submit:hover{
    color: #da0f47;
    border-color: #df104a;
    background-color: rgba(250, 5, 5, 0.05);
    cursor: pointer;
  }
  .inputSorry{
    font-size: 14px;
    color: red;
    display: block;
    margin-bottom: 10px
  }
  .message .textRemind{
    border: 1.2px solid rgba(255, 0, 0, 0.5);
    padding: 4px 0 3px 4px;
  }
  




