@import url(./b.css);
<style>
    .table{
            border-collapse:collapse;
        }


    h1{
        text-align:center;
        background-color: gray;
        color:red
        }
</style> 

内联style
style标签
外部样式文件  css link<rel="stylesheet" href="./a.css">
外联中外联    @import uri(./b.css);